.app {
  font-family: Arial, sans-serif;
}

.app__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 700px;
  margin-top: 50px;
}

.app__title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

